<div class="h-full w-full flex items-center justify-center bg-teal-50 font-sans min-h-screen">
  <div class="bg-white rounded shadow p-6 m-4 w-full lg:w-3/4 lg:max-w-lg">
    <!-- Back button -->
    <div class="mb-4">
      <%= link_to t("todo_lists.back"), todo_lists_path, class: "text-sm text-teal-600 hover:text-teal-800" %>
    </div>

    <div class="mb-4">
      <h1 class="text-gray-900 text-xl font-semibold"><%= @todolist.name %></h1>
    </div>

    <%= render partial: "todo_items/list", locals: { todo_list: @todolist } %>

    <%= turbo_frame_tag "todo_item_form" do %>
      <%= render partial: "todo_items/form", locals: { todo_list: @todolist, todo_item: TodoItem.new } %>
    <% end %>
  </div>
</div>
